.advantages {

    &__header {
        margin-bottom: 50px;
    }

    &__body {
        display: flex;
        margin: 0 -15px -30px;
        flex-wrap: wrap;
    }

    &__column {
        flex: 0 1 25%;
        padding: 0 15px 30px;
    
        @media (max-width: 1020px) {
            flex: 0 1 50%;
        }

        @media (max-width: 554px) {
            flex: 0 1 100%;
        }
    }
}

.header-block {
    text-align: center;

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 57px / 40px * 100%;
        margin-bottom: 10px;

        @media (max-width: $mini) {
            font-size: 32px;
        }
    }

    &__text {
        color: $grey;
        line-height: 20px / $default-fsize * 100%;
    }
}

.item-advantage {
    background-color: $white;
    height: 100%;
    padding: 30px 40px;
    text-align: center;

    & > *:not(:last-child) {
        margin-bottom: 10px;
    }

    &__icon {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 48px;
    }

    &__stats {
        font-weight: 700;
        font-size: 40px;
        line-height: 57px / 40px * 100%;
    }

    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px / 16px * 100%;
        color: $grey;
    }
}
