.get-in-touch {

    &__header {
        padding-bottom: 80px;

        @media (max-width: $mini) {
            padding-bottom: 40px;
        }
    }

    &__container {
        @media (max-width: 992px) {
            padding: 0;
        }
    }

    &__items {
        @media (min-width: 992px) {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        flex: 0 1 33.3333%;
    }
}

.item-get-in-touch {
    background-color: $white;
    padding: 50px 40px;

    & > *:not(:last-child) {
        margin-bottom: 15px;
    }

    &__icon {
    }

    &__emails {
    }

    &__email {
        color: inherit;
        font-weight: 600;
        line-height: 24px / $default-fsize * 100%;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px / 16px * 100%;
    }

    &__button {
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;

        color: $orange;
        font-weight: 600;
        line-height: 24px / $default-fsize * 100%;
        border: 1px solid $orange;
        border-radius: 5px;
        transition: all 0.2s ease-in;
        &:hover {
            color: $white;
            background-color: $orange;
        }
    }
}

.item-get-in-touch-active {
    color: $white;
    background-color: $default-color;
    padding: 80px 40px;

    .item-get-in-touch__button {
        color: $white;
        border-color: $white;
    }
}