//color
$grey: #737373;
$orange: #FF7B47;
$green: #0D5C63;
$white: #FFFFFF;
$default-color: #252B42;
$default-color2: #17213C;
//size
$default-fsize: 14px;

//breakpoints
$tablet: 992px;
$phone: 767px;
$mini: 479px;
